{{#each blogPosts as |blogpost|}}
<div class="container">
    <div class="row">
        <div class="col-6" id="blog-post-card">
            <a href="/api/blogpost/{{blogpost.id}}"><p>{{blogpost.title}}</p></a>
        </div>
        <div class="col-6" id="blog-post-card-post">
            <p>posted by {{blogpost.user.username}} on {{blogpost.date}}</p>
        </div>
        <div class="col-12" id="blog-post-content">
            {{blogpost.content}}
        </div>
    </div>
</div>


{{/each}}

